<p class="footer-links">
  <a href="/sitemap.xml">Sitemap</a> &middot;
  <a href="/llms.txt">llms.txt</a> &middot;
  <a href="https://evaldriven.org">evaldriven</a> &middot;
  <a href="https://schemaflux.dev">SchemaFlux</a>
</p>
<p class="created-by">Created by <a href="{{ site.author_url }}">{{ site.author }}</a></p>
